<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="main.js"></script>
    <audio id="player" controls></audio>
    <script>
        const player = document.getElementById('player');
        const handleSuccess = function(stream) {
            const context = new AudioContext();
            const source = context.createMediaStreamSource(stream);
            const processor = context.createScriptProcessor(1024, 1, 1);

            source.connect(processor);
            processor.connect(context.destination);

            processor.onaudioprocess = function(e) {
            // Do something with the data, i.e Convert this to WAV
            console.log(e.inputBuffer);
            };
        };
        navigator.mediaDevices.getUserMedia({ audio: true, video: false })
            .then(handleSuccess);
    </script>          
  </body>
</html>
